.shiat-message-item
    margin 16px
    align-self flex-start
    display flex
    justify-content flex-start
    color #757575

    &.reply-message
        justify-content flex-end

        > *
            background-color #757575
            color rgb(250, 250, 250) !important

    > *
        padding 4px
